<div class="view">
	<div class="upload">
		<input type="text" ng-model="myModelObj">
		<input type="file" ng-file-select="onFileSelect($files)" >
		<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
		    ng-show="dropSupported">drop files here</div>
		<div ng-file-drop-available="dropSupported=true" 
		    ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
		<button ng-click="upload.abort()">Cancel Upload</button>

		<div class="progress">
			<div class="progress-inner" style="width: {{ uploadPercent }}%;"></div>
			<div class="progress-text"><span ng-show="uploadPercent < 100">{{ uploadPercent }}%</span><span ng-show="uploadPercent == 100">Processing...</span></div>
		</div>
	</div>
</div>